# Flutter/Dart build artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
android/.gradle/
android/local.properties
android/app/debug.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/
macos/Flutter/GeneratedPluginRegistrant.swift

# IDE
.idea/
*.iml
.vscode/

# Misc
*.swp
*.swo
.DS_Store
